.main{
    width: 724px;
    height: 100%;
    background-image: url("../grafika/tlostart.jpg");
    background-size: cover;
    float: left;
}

.title{
    margin-top: 20px;
    color: darkgoldenrod;
    text-align: center;
    letter-spacing: 15px;
    font-size: 30px;
}

.first{
    margin: 40px 30% 0px 30%;
}

.rest{
    margin-top: 150px;
    padding: 20px 20px 20px 20px;
}
.other{
    border: 2px solid darkgoldenrod;
    width: 110px;
    height: 50px;
    margin: 10px 10px 10px 10px;
    float: left;
}